
.Aboutsection {
  background-color: #e0ffcd;
  height: 100vh;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Aboutsection h2 {
    font: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    color: #5f2277;
}

.Aboutsection-content {
  display: flex; /* Use Flexbox to create a horizontal layout */
  justify-content: space-between; 
  align-items: center; /* Align items vertically in the center */
}

.Aboutsection-img {
  width: 150px;
  height: auto; 
  margin-left: 20px; 
}

.Aboutsection p {
  flex: 1; /* Allow the paragraph to take up remaining space */
}